.header {
  padding: 6rem 0 4.2rem;

  background: url(../images/header-bg.png) no-repeat;
  background-size: cover;
  @include breakpoint($lg-bp) {
    display: none;
  }
}

.header__top {
  display: flex;
  align-items: center;

  margin-bottom: 11rem;
}

.header__logo-link:hover {
  svg {
    fill: $primary;
  }
}

.header__logo {
  margin-right: 12.5rem;
}

.header__logo-icon {
  width: 40.7rem;
  height: 11.3rem;

  fill: white;

  margin-bottom: 1.7rem;
}

.header__logo-descr {
  font-size: 2rem;
  line-height: 1.4;
  color: white;
}

.header__top-links {
  display: flex;

  margin-top: 5rem;
}

.header__top-link {
  font-size: 1.4rem;
  font-weight: 300;
  color: white;

  border-bottom: 0.1rem dashed white;

  & + & {
    margin-left: 3.2rem;
  }
}

.header__bottom {
  display: flex;
  align-items: center;
}

.header__catalog-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25.6rem;

  margin-right: 8rem;

  svg {
    width: 2.4rem;
    height: 2.4rem;

    fill: white;

    margin-right: 1.8rem;
  }

  &:hover {
    svg {
      fill: $primary;
    }
  }
}

.header__nav {
  display: flex;
}

.header__nav-link {
  color: white;

  & + & {
    margin-left: 6rem;
  }
}

.header__btns {
  display: flex;
  align-items: center;

  margin-left: auto;

  svg {
    width: 2.8rem;
    height: 2.8rem;
  }
}

.header__search {
  margin-right: 2.4rem;

  background-color: transparent;
  border: none;

  svg {
    stroke: rgba(255, 255, 255, 0.4);
    fill: transparent;

    &:hover {
      stroke: white;
    }
  }
}

.header__compare {
  svg {
    fill: rgba(255, 255, 255, 0.5);

    &:hover {
      fill: white;
    }
  }
}


//header mobile



.headerMobile {
  display: none;
  width: 100%;
	transition: all 0.3s ease;

  z-index: 11111;


  background-image: url(/assets/images/backgroundHeaderMobile.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  // height: 27.5rem;

  @include breakpoint($lg-bp) {
    display: block;
  }

  .mainContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4.5rem;
  }

  .iconsContainer {
    margin-top: 3.3rem;
    margin-right: 0.8rem;
  }

  .logoContainerHeader {
    margin-top: 1.6rem;
    margin-left: 0.8rem;
    .mobileLogo {
      width: 13.3rem;
      height: 3.7rem;
      fill: white;
  
    }
  }

  

  .searchIco {
    background-color: transparent;
    border: none;

  svg {
    stroke: rgba(255, 255, 255, 0.4);
    fill: transparent;
    width: 2.4rem;
    height: 2.4rem;
    &:hover {
      stroke: white;
    }
  }
  }

  .compare {

    margin-bottom: 0;
    svg {
      fill: rgba(255, 255, 255, 0.5);
      width: 2.4rem;
      height: 2.4rem;
      &:hover {
        fill: white;
      }
    }
  }

  .burgerBtn {
    background-color: transparent;
    border: none;

  svg {
    stroke: rgba(255, 255, 255, 0.4);
    fill: transparent;
    width: 2.4rem;
    height: 2.4rem;
    &:hover {
      stroke: white;
    }
  }
  }

}


@include breakpoint($lg-bp) {
  .navigation__fixed {
    .headerMobile {
        position: fixed;
        top: 0;
        width: 100%;
        // transition: all .3s ease;
    }
    main {
        margin-top: 10.8rem;
    }
  }
  
  .navigation__fixed.navigation__hidden {
    .headerMobile {
        top: -10.8rem;
        // transition: all .3s ease;
    }
    main {
        margin-top: 10.8rem;
    }
  }
}


.desctopSlickyHeader {
  background-color: #231F20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10.2rem;
  padding-right: 33rem;
  width: 100%;
  @include breakpoint($xl-bp) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .leftContainer {
    display: flex;
  }

  .header__logo {
    display: flex;
    align-items: center;
  }

  .header__logo-icon {
    width: 12.7rem;
    height: 3.5rem;
    margin-bottom: 0;
  }

  .header__catalog-btn {
    width: 23.8rem;
    height: 5.6rem;
  }

  .header__nav {
    font-size: 1.6rem;
    line-height: 2.4rem;
    gap: 5rem;
    align-items: center;
    a {
      margin-left: 0;
    }
  }

  .header__search {
    svg {
      width: 2.8rem;
      height: 2.8rem;
    }
    
  }

  .header__compare {
    svg {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}


.headerMob {
  position: absolute;
  width: 100%;
  z-index: 99999;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
  &.can-animate {
    transition: transform 0.3s ease, visibility 0s 0.3s linear;
  }
  &.is-fixed {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    transform: translate3d(0, -100%, 0);
    display: flex;
  }
  &.scroll-up {
    transform: translate3d(0, 0, 0);
  }
}
.sect {
  display: flex;
  justify-content: center;
  align-items: center;
}




.slickyContainer {
  position: absolute;
  width: 100%;
  z-index: 99999;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);

  @include breakpoint($lg-bp) {
    display: none;
  }



  &.can-animate {
    transition: transform 0.3s ease, visibility 0s 0.3s linear;
  }
  &.is-fixed {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    transform: translate3d(0, -100%, 0);
    display: flex;
    top: 0;
    @include breakpoint($lg-bp) {
      display: none;
    }
  }
  &.scroll-up {
    transform: translate3d(0, 0, 0);
  }
}



//menu tabs 

.menuContainer {
  background: #231F20;
  display: none;
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #FFFFFF;
  height: 90rem;
  border-top: 0.2rem solid #393536;
  z-index: 9999;
  width: 100%;
  top: 38.5rem;
  left: 0;
  

  .textContainer {
    padding-left: 6.2rem;
  }

  .text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.6rem;
    opacity: 0.7;
  }
  
  .titleText {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
  }
  

  .menuTabsContainer {
    display: flex;
    flex-direction: column;

    .generalTabs {
      display: flex;
      align-items: center;
      border-bottom: 0.2rem solid #393536;
      padding-top: 4rem;
      padding-left: 5rem;
      gap: 2.8rem;

      .changeCategoryActive {
        border-bottom: 0.3rem solid #E30613;
      }
      
      button {
        border: none;
        background: unset;
        opacity: none;
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        padding-bottom: 1rem;
      }
    }


    .menuTabs {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 5rem;

      button {
        border: none;
        background: unset;
        opacity: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #FFFFFF;
      }
    }

    .menuTabsActive {
      display: flex;
    }
  }

  .menuContentContainer {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    border-left: 0.2rem solid #393536;
  }

  .contentActive {
    display: flex;
    
  }
}

.menuContainerActive {
  display: flex;
}

.activeMenuTabBtn {
  background: #FFFFFF;
  opacity: 0.5;
}


.headerButton:hover {
  .menuContainer {
    display: flex;
  }
}



