<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__top">
                <div class="header__logo">
                    <a class="header__logo-link" href="#">
                        <svg class="header__logo-icon">
                            <use href="#logo"></use>
                        </svg>
                    </a>
                    <p class="header__logo-descr">Поставки промышленного оборудования</p>
                </div>
                <div class="header__top-links">
                    <a class="header__top-link" href="mailto:info@nordwex.com">info@nordwex.com</a>
                    <a class="header__top-link" href="tel:88001112233">8 (800) 111 22 33</a>
                </div>

                <!-- 
                <div class="burger-menu">
                    <div class="burger"></div>
                </div> -->
            </div>
            <div class="header__bottom">
                <button class="header__catalog-btn filled-btn">
                    <svg>
                        <use href="#burger"></use>
                    </svg>
                    Каталог товаров
                </button>
                <nav class="header__nav">
                    <a class="header__nav-link" href="#">Бренды</a>
                    <a class="header__nav-link" href="#">О компании</a>
                    <a class="header__nav-link" href="#">Блог</a>
                    <a class="header__nav-link" href="#">Контакты</a>
                    <a class="header__nav-link" href="#">Обратная связь</a>
                </nav>
                <div class="header__btns">
                    <button class="header__search">
                        <svg>
                            <use href="#search"></use>
                        </svg>
                    </button>
                    <a class="header__compare" href="#">
                        <svg>
                            <use href="#compare"></use>
                        </svg>
                    </a>
                </div>
            </div>

        </div>
    </div>
</header>